<section class="marquee">
  <div class="marquee__inner">
    <h2 class="marquee-line__title">
      <span class="marquee-line__subtitle">master</span> your photography
      <span class="marquee-line__subtitle"> skills with us!</span>
    </h2>
    <h2 class="marquee-line__title">
      <span class="marquee-line__subtitle">master</span> your photography
      <span class="marquee-line__subtitle"> skills with us!</span>
    </h2>
    <h2 class="marquee-line__title">
      <span class="marquee-line__subtitle">master</span> your photography
      <span class="marquee-line__subtitle"> skills with us!</span>
    </h2>
    <h2 class="marquee-line__title">
      <span class="marquee-line__subtitle">master</span> your photography
      <span class="marquee-line__subtitle"> skills with us!</span>
    </h2>
  </div>
</section>
