 
 <footer class="footer">
  <div class="foot container">
    <a class="header__logo" href="#">
      <svg class="logo" width="127" height="20" >
        <use href="../public/favicon.svg#logo" ></use>
      </svg>
    </a>
     
      <p>
        UK: +38 066 543 8912<br>Ukraine, Kyiv
      </p>

     <div class="footer-soc">
      <ul class="footer-soc list">
        <li class="footer-soc item">
          Instagram
        </li>
        <li class="footer-soc item">
          Facebook
        </li>
        <li class="footer-soc item">
          Youtube
        </li>
      </ul>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#about-us" class="nav-link">about us</a>
        </li>
        <li class="header__nav-item">
          <a href="#our-courses" class="nav-link">our courses</a>
        </li>
        <li class="header__nav-item">
          <a href="#our-mentors" class="nav-link">our mentors</a>
        </li>
        <li class="header__nav-item">
          <a href="#reviews" class="nav-link">reviews</a>
        </li>
        <li class="header__nav-item">
          <a href="#contacts" class="nav-link">contacts</a>
        </li>
      </ul> 
      <div class="footer-form">
        <form class="forms">
          <label class="lab">
            <input type="email" name="mail" class="fmail" 
                   placeholder="Enter your email"/>                       
          </label>
          <button type="submit" class="fbutton">
            Go 
          </button>
          <div class="footer-text">
            <p>Privacy Policy 
              Public Offering Agreement</p>
            <p>2023 Focus Frame
              © All rights reserved</p>
          </div>
        </form> 

      

     </div>


  </div>

</footer>
