<header class="header container">
  <div class="header__inner">
    <div class="header__logo">
      <svg class="header__logo_svg" width="127" height="20">
        <use href="../img/icons.svg#icon-logo123x16"></use>
      </svg>
    </div>
    <div class="header__menu">
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="#about-us" class="header__nav-link">about us</a>
          </li>
          <li class="header__nav-item">
            <a href="#our-courses" class="header__nav-link">our courses</a>
          </li>
          <li class="header__nav-item">
            <a href="#our-mentors" class="header__nav-link">our mentors</a>
          </li>
          <li class="header__nav-item">
            <a href="#reviews" class="header__nav-link">reviews</a>
          </li>
          <li class="header__nav-item">
            <a href="#contacts" class="header__nav-link">contacts</a>
          </li>
        </ul>
      </nav>
      <div class="header__icon">
        <svg width="16" height="16">
          <use href="../img/icons.svg#icon-bi_camera-fill"></use>
        </svg>
      </div>
      <button class="header__button" type="button">
        <svg width="32" height="22">
          <use href="../img/icons.svg#icon-nav32x22"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="header__sign">
    <a class="header__link" href="#sign-up">sign up</a>
  </div>
</header>
