<section class="hero container">
  <div class="hero-wrapper">
    <div class="hero__text_content">
      <h1 class="hero__title">
        Discover the magic of
        <span class="hero__subtitle">photography</span> in our school
      </h1>
      <p class="hero-descr">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
      <div class="general-star-trio">
        <div class="div-hero-trio">
          <img
            class="hero-img-trio"
            srcset="../img/hero/trio-min.png 1x, ../img/hero/trio@2x-min.png 2x"
          />
          <div class="hero-students-arrow">
            <div class="div-happy-descr">
              <p class="hero-image-descr">Our happy students</p>
              <svg class="hero-arrow" width="18" height="9">
                <use
                  href="../img/hero/hero-vectors.svg#icon-Arrow-2-Strokevector"
                ></use>
              </svg>
            </div>
          </div>
        </div>

        <div class="div-hero-star">
          <div class="hero-star">
            <svg class="hero-star-color" width="20" height="20">
              <use href="../img/hero/hero-vectors.svg#icon-starstar"></use>
            </svg>
          </div>
          <div class="div-reviews-number">
            <p class="hero-reviews">Reviews</p>
            <p class="hero-p-number">+1500</p>
          </div>
        </div>
      </div>
    </div>
    <div class="hero-img-content">
      <picture class="hero-main-img">
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/hero/hero259x314-min.png    1x,
            ../img/hero/hero259x314@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1279px)"
          srcset="
            ../img/hero/hero393x434-min.png    1x,
            ../img/hero/hero393x434@2x-min.png 2x
          "
        />
        <source
          media="(min-width: 1280px)"
          srcset="
            ../img/hero/hero397x520-min.png    1x,
            ../img/hero/hero397x520@2x-min.png
          "
        />
        <img
          src="../img/hero/hero259x314-min.png"
          alt="Men with camera"
          width="397px"
        />
      </picture>
    </div>
  </div>
</section>
