<dialog class="modal">
  <div class="modal__container">
    <button class="modal__button_close">
      <svg class="modal__button_icon" width="32" height="32">
        <use href="./img/icons.svg#icon-close32x32"></use>
      </svg>
    </button>
    <nav class="modal__nav">
      <ul class="modal__nav-list">
        <li class="modal__nav-item">
          <a href="#about-us" class="modal__nav-link">about us</a>
        </li>
        <li class="modal__nav-item">
          <a href="#our-courses" class="modal__nav-link">our courses</a>
        </li>
        <li class="modal__nav-item">
          <a href="#our-mentors" class="modal__nav-link">our mentors</a>
        </li>
        <li class="modal__nav-item">
          <a href="#reviews" class="modal__nav-link">reviews</a>
        </li>
        <li class="modal__nav-item">
          <a href="#contacts" class="modal__nav-link">contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</dialog>
