<section class="our-courses container">
  <!-- стилі для класу main_title, subtitle вже прописані в styles.css -->
  <div class="our-courses_title_wrapper">
    <h2 id="our-courses" class="our-courses__title main_title">
      our <span class="subtitle">courses</span>
    </h2>
    <p class="our-courses_text">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
  </div>
  <ol class="our-courses_list">
    <div class="our_courses_list_wrapper">
      <li class="our-courses_item">
        <p class="our-courses_item_text">01</p>
        <h2 class="our-courses_item_title">Basics of photography</h2>
        <p class="our-courses_item_description">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
        <a class="our-courses_link_icon" href="#sign_up">
          <svg class="our-courses_icon" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
      </li>
      <li class="our-courses_item">
        <p class="our-courses_item_text">02</p>
        <h2 class="our-courses_item_title">Landscape photography</h2>
        <p class="our-courses_item_description">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
        <a class="our-courses_link_icon" href="#sign_up">
          <svg class="our-courses_icon" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
      </li>
      <li class="our-courses_item">
        <p class="our-courses_item_text">03</p>
        <h2 class="our-courses_item_title">Portrait photography</h2>
        <p class="our-courses_item_description">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
        <a class="our-courses_link_icon" href="#sign_up">
          <svg class="our-courses_icon" width="20" height="20">
            <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
      </li>
    </div>
  </ol>
</section>
