<section class="our-mentors">
  <div class="container container-mentors">
    <!--стилі для класу main_title, subtitle вже прописані в styles.css -->
    <h2 id="our-mentors" class="our-mentors__title main_title">
      our <span class="subtitle">mentors</span>
    </h2>
    <ul class="our-mentors__list">
      <li class="our-mentors__item">
        <img srcset="../img/mentors/emilia_smith-min.png 1x, ../img/mentors/emilia_smith@2x-min.png 2x"
          src="../img/mentors/emilia_smith-min.png" alt="emilia_smith">
        <div class="our-mentors__content">
          <h3 class="our-mentors__label">Emilia Smith</h3>
          <p class="our-mentors__text"> 1.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors__item">
        <img srcset="../img/mentors/alex_lebedev-min.png 1x, ../img/mentors/alex_lebedev@2x-min.png 2x"
          src="../img/mentors/alex_lebedev-min.png" alt="alex_lebedev">
        <div class="our-mentors__content">
          <h3 class="our-mentors__label">Alex Lebedev</h3>
          <p class="our-mentors__text"> 3.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors__item">
        <img srcset="../img/mentors/mia_dubrovska-min.png 1x, ../img/mentors/mia_dubrovska@2x-min.png 2x"
          src="../img/mentors/mia_dubrovska-min.png" alt="mia_dubrovska">
        <div class="our-mentors__content">
          <h3 class="our-mentors__label">Mia Dubrovska</h3>
          <p class="our-mentors__text"> 2.0 years of experience</p>
        </div>
      </li>
      <li class="our-mentors__item">
        <img srcset="../img/mentors/eliot_kovalev-min.png 1x, ../img/mentors/eliot_kovalev@2x-min.png 2x"
          src="../img/mentors/eliot_kovalev-min.png" alt="eliot_kovalev">
        <div class="our-mentors__content">
          <h3 class="our-mentors__label">Eliot Kovalev</h3>
          <p class="our-mentors__text"> 4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>