<section class="sign-up container">
 <div class="sign-up-lelftpart">
  <h2 class="sign-up__title" id="sign-up">
    Sign <span class="subtitle">Up</span>
  </h2>
  <p class="p-sing-up">
    Please use the form below to contact us. Enter your name, email, and message
    and we'll get back to you shortly.
  </p>

  <form class="contact-form">
    <div class="user-data">
      <label class="user-information" for="name">
        <input
          class="user-input"
          id="name"
          name="name"
          type="text"
          placeholder="Enter your name"
      /></label>
    </div>
    <div class="user-data">
      <label class="user-information" for="email">
        <input
          class="user-input"
          id="email"
          name="email"
          type="email"
          placeholder="Enter your email"
      /></label>
    </div>
    <div class="message">
      <label class="user-information" for="user-message"></label>
      <textarea
        class="user-comment"
        id="user-message"
        name="user-comment"
        placeholder="Message"
      ></textarea>
    </div>
    <button class="button-send" type="submit">SEND</button>
    <div class="user-privacy">
      <p class="p-user-privacy">
        By clicking on “Send” button,you agree to our
        <a class="a-privacy-policy">Privacy Policy</a>, and allow Promodo to use
        this information for marketing purposes.
      </p>
    </div>
  </form>

 </div>
  <div class="sign-up-rightpart">
      <picture></picture>
    </div>
</section>
