.footer.contacts {
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) {
  .footer.contacts {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .footers {
    display: flex;
    justify-content: space-between;
  }
}

.footer-logo {
  margin-bottom: 16px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.footer-logo:hover,
.footer-logo:focus {
  transform: scale(1.2);
}

/* 
@media screen and (min-width: 767px) {
  .footer-logo{
    margin-bottom: 25px; 
  }
}*/
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-contact {
    /* margin-right:58px;*/
    margin-bottom: 133px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .footer-contact {
    margin-right: 285px;
    margin-bottom: 133px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-contact {
    margin-right: 341px;
    margin-bottom: 133px;
  }
}

.contact-link {
  font-size: 14px;
  line-height: 1.29; /*18px */
  text-transform: uppercase;
  margin-bottom: 10px;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.contact-link:hover,
.contact-link:focus {
  transform: scale(1.2);
}

.text-adress {
  font-size: 14px;
  line-height: 1.29; /*18px */
}

.footer-soc {
  display: flex;
  gap: 40px;
  margin-bottom: 75px;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-soc {
    margin-bottom: 0;
    /* margin-right:61px;*/
    gap: 25px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .footer-soc {
    margin-right: 137px;
    margin-bottom: 0;
    gap: 50px;
  }
}

@media screen and (min-width: 1440px) {
  .footer-soc {
    margin-right: 193px;
    margin-bottom: 0;
    gap: 100px;
  }
}

.footer-soc-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer-soc-item {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.footer-soc-item:hover,
.footer-soc-item:focus {
  transform: scale(1.2);
}

@media screen and (min-width: 768px) {
  .footer-soc-list {
    gap: 20px;
  }
}

.footer-link {
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}

.footer-form {
  display: flex;

  gap: 8px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .footer-form {
    margin-bottom: 0;
  }
}

.form-input {
  max-width: 267px;
  height: 60px;
  padding: 20px 18px;
  border-radius: 12px;
  background: var(--main_text);
}

.form-input::placeholder {
  color: #121212;
}

.form-button {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #1d1d1d;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 1.2; /* 24px */
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.form-button:hover,
.form-button:focus {
  color: var(--submain);
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.p-text {
  font-size: 12px;
  line-height: 1.33; /*16px*/
}
