.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;

  padding: 20px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  flex-grow: 1;

  margin-top: 20px;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--main_background);
}

.header__menu {
  display: flex;
  align-items: center;
  column-gap: 14px;
  flex-grow: 1;
  width: 100%;
}

.header__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: var(--button_fon);
  border-radius: 50%;
}
.header__icon_link {
  width: 16px;
  height: 16px;
}

.header__button {
  background-color: transparent;
  height: 22px;
}

.header__icon_link .header__icon_svg {
  fill: var(--submain);
  fill-opacity: 0.4;
  transition-property: fill-opacity;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

@media screen and (max-width: 767px) {
  .header__inner {
    justify-content: space-between;
    padding: 8px 20px;
    margin-bottom: 20px;
  }
  .header__logo {
    height: 20px;
  }
  .header__nav,
  .header__sign {
    display: none;
  }

  .header__button {
    height: 22px;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    height: 16px;
  }

  .header__logo_svg {
    width: 123px;
    height: 16px;
  }
  .header__sign {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 12px;
    background-color: var(--main_text);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }

  .header__link {
    color: var(--main_background);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56; /*28px*/
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
}

@media screen and (max-width: 1279px) {
  .header__menu {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    column-gap: 14px;
  }
  .header__inner {
    justify-content: space-between;
    padding: 15px 20px;
    margin-bottom: 40px;
  }
  .header__icon,
  .header__nav {
    display: none;
  }

  .header__menu {
    justify-content: flex-end;
  }

  .header__link {
    padding: 16px 58px;
  }
  .header__button {
    height: 28px;
  }
  .header__button svg {
    width: 40px;
    height: 28px;
  }
  .header__sign {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .header__icon,
  .header__button {
    display: none;
  }
  .header__sign {
    padding: 16px 84px;
  }
  .header {
    column-gap: 20px;
  }
  .header__inner {
    justify-content: flex-start;
    padding: 0 50px;
    margin-bottom: 80px;
  }
  .header__nav-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  .header__nav-item {
    position: relative;
    padding: 19px 0;
  }
  .header__nav-link {
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  .header__nav-link::after,
  .header__nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 17%;
    transform: translateX(-50%);
    width: 10%;
    height: 2px;
    background-color: var(--submain);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition-property: width, opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: ease;
  }
  .header__sign {
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .header__inner {
    column-gap: 97px;
  }
  .header__menu {
    justify-content: center;
  }
  .header__nav-list {
    column-gap: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .header__inner {
    justify-content: space-between;
  }
  .header__menu {
    justify-content: flex-end;
  }
  .header__nav-list {
    column-gap: 40px;
  }
}

.header__sign:hover,
.header__sign:focus {
  background-color: var(--button_fon);
}
.header__sign:hover .header__link,
.header__sign:focus .header__link {
  color: var(--submain);
}
.header__nav-item:hover .header__nav-link,
.header__nav-item:focus .header__nav-link {
  color: var(--submain);
}

.header__nav-item:hover,
.header__nav-item:focus {
  transform: scale(1.1);
}
.header__nav-item:hover .header__nav-link::after,
.header__nav-item:focus .header__nav-link::after {
  opacity: 1;
  visibility: visible;
  width: 90%;
}

.header__logo:hover,
.header__logo:focus {
  transform: scale(1.1);
}
.header__button:hover {
  transform: scale(1.1);
}

.header__icon:hover,
.header__icon:focus {
  transform: scale(1.3);
}
.header__icon:hover .header__icon_svg,
.header__icon:focus .header__icon_svg {
  fill-opacity: 1;
  transform: scale(1.3);
}
