/* Reset styles */
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ol {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
textarea {
  display: block;
  resize: none;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}

input:active,
input:hover,
input:focus,
textarea:active,
textarea:hover,
textarea:focus {
  outline: 0;
  outline-offset: 0;
}
