.sign-up {
  display: flex;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 1279px;
    padding-left: 32px;
    padding-right: 256px;
  }
  .sign-up-lelftpart {
    max-width: 480px;
  }
  .sign-up__title {
    font-size: 48px;
    line-height: 1.13;
  }
  .p-sing-up {
    font-size: 16px;}

  .user-data {
    margin-bottom: 14px;
  }
  .user-input {
    height: 60px;
    font-size: 16px;
    padding: 18px 20px;
  }
  .user-comment {
    height: 119px;
    font-size: 16px;
    padding: 18px 20px;
  }
  .button-send {
    display: inline-flex;
    width: 479px;
    width: 100%;
    height: 60px;
    padding: 16px 216px;
    font-size: 18px;
    line-height: 1.6;
  }
  .user-privacy {
    max-width: 480px;
  }
  .p-user-privacy {
    font-size: 14px;
    width: 100%;
  }

  .a-privacy-policy {
    font-size: 14px;
  }
}
@media screen and (max-width: 1279px) {
  .sign-up-rightpart {
    display: none;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1439px) {
        .sign-up-icon{
            width: 540px;
            height: 540px;
            display: flex;
        }
  .sign-up-rightpart {
    max-width: 540px;
    display: flex;
  }
  .fon-focus {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: #bea69e;
    margin-right: 20px;
    position: relative;
   top:252px;
}
.fon-camera{
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: #1D1D1D;
    position: relative;
}
.icon-focus{
width: 150px;
height: 142px;
position: relative;
top: 76px;
}
.icon-camera{
width: 240px;
height: 296px;
position: relative;
top:156px;
left: 50px;
}
}

@media screen and (min-width: 1440px) {
  .sign-up {
    gap: 200px;
}
.sign-up-rightpart{
display: flex;
}
.sign-up-icon {
width: 560px;
height: 540px;
display: flex;
}
.fon-focus{
    width: 190px;
    height: 288px;
    border-radius: 1000px;
    background: #BEA69E;
   margin-right: 20px;
    position: relative;
    top:252px;
    
}
.icon-focus {
    width: 163px;
    height: 154px;
    position: relative;
    top: 63px;
}
.fon-camera{
width: 350px;
height: 540px;
border-radius: 1000px;
background: #1D1D1D;
position: relative;
}
.icon-camera {
    width: 254px;
    height: 313px;
    position: relative;
    top: 139px;
    left: 48px;
}
}

.sign-up__title {
  font-family: DM Sans;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
}

.p-sing-up {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.contact-form {
  display: block;
 /* margin-bottom: 80px;*/
}

.user-data {
  margin-bottom: 8px;
}

.user-input {
  width: 100%;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #121212;
  padding: 14px 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.user-comment {
  width: 100%;
  height: 112px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #121212;
  padding: 14px 18px;
  /*color: #FFF;
opacity: 0.7;*/
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.button-send {
  display: block;
  width: 335px;
  width: 100%;
  height: 48px;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--white, #fff);
  color: var(--black, #121212);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 20px;
}

.user-privacy {
  display: inline-block;
  position: relative;
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
}

.p-user-privacy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  width: 335px;
}

.a-privacy-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  text-decoration-line: underline;
}
