/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advertise.css');
@import url('./about_us.css');
@import url('./our_courses.css');
@import url('./our_mentors.css');
@import url('./sign_up.css');
@import url('./reviews.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  --main_background: #121212; /* основний колір фону */
  --button_fon: #1d1d1d; /* колір фону посилань кнопок*/
  --gradient: #060707; /* додатковий колір для градієнту*/
  --submain: #bea69e; /* допоміжний колір для фону та тексту */
  --main_text: #fff; /* основний колір тексту */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25; /* 20px */
  color: var(--main_text);
  background-color: var(--main_background);
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--button_fon);
  border-radius: 20px;
}
.container {
  margin: 0 auto;
  height: 100%;
}

.main_title {
  font-weight: 500;
  text-transform: capitalize;
}
.subtitle {
  color: var(--submain);
}
.wrap_img,
.contacts {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 20px;
  }
  .wrap_img,
  .contacts {
    background-image: url('../img/body/backgrmob-min.png');
  }
  .main_title {
    font-size: 28px;
    line-height: 1.14; /* 32px */
    letter-spacing: -1.12px;
  }
}
@media (min-resolution: 192dpi) and (max-width: 767px) {
  .wrap_img,
  .contacts {
    background-image: url('../img/body/backgrmob@2x-min.png');
  }
}
@media screen and (min-width: 768px) {
  .main_title {
    font-size: 48px;
    line-height: 1.125; /* 54px */
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .wrap_img,
  .contacts {
    background-image: url('../img/body/backgrtablet-min.png');
  }
}
@media (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1279px) {
  .wrap_img,
  .contacts {
    background-image: url('../img/body/backgrtablet@2x-min.png');
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
  }
  .wrap_img,
  .contacts {
    background-image: url('../img/body/detop-min.png');
  }
}
@media (min-resolution: 192dpi) and (min-width: 1280px) {
  .wrap_img,
  .contacts {
    background-image: url('../img/body/detop@2x-min.png');
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .container {
    max-width: 1280px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
